<section>

    <mat-form-field *ngIf="allCountdowns.length > 0 else showNoContent" class="search" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Type an event name:" [(ngModel)]="search" (keypress)="filterSearchMsg()">
    </mat-form-field>

    <ng-container *ngIf="allCountdowns.length > 0">
        <div cdkDropList class="event-list" (cdkDropListDropped)="sorted($event)">
            <ng-container *ngFor="let countdown of allCountdowns; index as i;">
                <div class="event" *ngIf="countdown.name.indexOf(search) > -1" cdkDrag cdkDragLockAxis="y">
                    <div>
                        <h2>{{countdown.name}}</h2>
                        <p>{{countdown.date | date:'fullDate'}}</p>
                    </div>
                    <div class="event-options">
                        <button mat-mini-fab color="primary" aria-label="Delete event" matTooltip="Delete event"
                            (click)="actionEvents(enums.actions.Delete, i, countdown)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" aria-label="Edit event" matTooltip="Edit event"
                            (click)="actionEvents(enums.actions.Edit, i, countdown)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" aria-label="Select Event" matTooltip="Select Event"
                            (click)="actionEvents(enums.actions.Select, i, countdown)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="showSearchMsg">
        <h2> No details found! </h2>
        <button mat-raised-button aria-label="Reset search" (click)="resetSearch()">
            Reset search
        </button>
    </ng-container>

    <ng-template #showNoContent>
        <h2>No upcoming event found! Please add a new one to proceed. Thank you.</h2>
    </ng-template>

</section>