<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="heading">HOW MANY DAYS?!</h1>
      <button mat-raised-button color="accent" class="nav-btn" (click)="openDialog('','', -1)">
        <mat-icon>add_circle</mat-icon>
        NEW EVENT
      </button>
      <button *ngIf="countdowns.length > 0" mat-raised-button color="accent" class="nav-btn" (click)="deleteAll()">
        <mat-icon>delete</mat-icon>
        DELETE ALL
      </button>
      <button *ngIf="countdowns.length === 0" mat-raised-button color="accent" class="nav-btn" (click)="addDemo()">
        <mat-icon>class</mat-icon>
        DEMO
      </button>
      <span class="spacer"></span>
      <div class="nav-cal">
        <span>{{currDateTime | date:'mediumTime'}} (IST)</span>
        <span>{{currDateTime | date:'fullDate'}}</span>
      </div>
      <button mat-mini-fab color="accent" aria-label="Toggle Theme"
        [matTooltip]="configs.darkTheme?'Toggle to light mode':'Toggle to dark mode'" (click)="onThemeChange()">
        <mat-icon>{{configs.darkTheme?'light_mode':'nightlight'}}</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
      <app-list-events [countdowns]="cdStr" (returnEvent)="eventActions($event)"
        (sortedEvents)="storeSortedEvents($event)"></app-list-events>
    </mat-drawer>
    <mat-drawer-content>
      <app-show-event [selectedEvent]="selectedEvent"></app-show-event>
    </mat-drawer-content>
  </mat-drawer-container>
</main>

<footer>
  Made with ❤️ by Sayantan Roy! Source code:
  <a href="https://github.com/dusk196/final-countdown" target="_blank">GitHub</a>
</footer>